<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Set Investment Goals </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label id="label" color="primary">Set up to 5 Investment Goals</ion-label>
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-select label="I'm invesfing for:" placeholder="" #investPurpose>
          <ion-select-option value="Education">Education</ion-select-option>
          <ion-select-option value="General Investment">General Investment</ion-select-option>
          <ion-select-option value="Home">Home</ion-select-option>
          <ion-select-option value="Legacy">Legacy</ion-select-option>
          <ion-select-option value="Retirement">Retirement</ion-select-option>
          <ion-select-option value="Start a Business">Start a Business</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
          <ion-select-option value="No goal at this time">No goal at this time</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="moneyValue" label="Investing goal: " (input)="formatMoneyInput()" class="custom-input">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Time to achieve goal" placeholder="" #period>
          <ion-select-option value="5">5 years</ion-select-option>
          <ion-select-option value="7">7 years</ion-select-option>
          <ion-select-option value="10">10 years</ion-select-option>
          <ion-select-option value="15">15 years</ion-select-option>
          <ion-select-option value="20">20 years</ion-select-option>
          <ion-select-option value="25">25 years</ion-select-option>
          <ion-select-option value="30">30 years</ion-select-option>
          <ion-select-option value="35">35 years</ion-select-option>
          <ion-select-option value="40">40 years</ion-select-option>
          <ion-select-option value="45">45+ years</ion-select-option>
          <h1> Testing</h1>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <div class="button-container">
        <ion-button slot="end" (click)="chooseFromGallery()">Choose from Gallery</ion-button>
        <ion-img [src]="selectedImage"></ion-img>
      </div>
      <br />
      <ion-item>
        <ion-label> Investment Goals</ion-label>
        <ion-button type="button" (click)="getInput(investPurpose.value,period.value)">Save</ion-button>
      </ion-item>
      <div id="userInput">
        <!-- Display selected values here -->
        <div *ngFor="let goal of goals">
          <ion-item>
            {{ goal.index }}. {{ goal.investPurpose }}
            <div slot="end">
              {{goal.money}}
            </div>
          </ion-item>
        </div>
      </div>

    </ion-list>

  </ion-content>
  <ion-content>
    <div style="position: fixed; bottom: 0; width: 100%;">
      <ion-toolbar>
        <div style="justify-content: center; display: flex;">
          <ion-button>Set Another <br> Invest Goal</ion-button>
          <ion-button color="dark">Done</ion-button>
        </div>
      </ion-toolbar>
    </div>
  </ion-content>
</div>
