ion-select::part(text) {
  color: #3dc2ff; /* Your desired color */
}

#label {
    font-weight: bold;

}

ion-content::part(scroll){
  background-color: white;
}

ion-item::part(native){
  background-color: white;
  color: black;
}