<!--Page Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
     <!-- Title of the page -->
    <ion-title>Select Store</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- Main -->
<ion-content class="ion-padding">

  <div class="container">
    <ion-item>
    <ion-label>Store</ion-label>
    <!-- Store dropdown -->
    <ion-select interface="popover">
      <ion-select-option>Amazon</ion-select-option>
      <ion-select-option>eBay</ion-select-option>
      <ion-select-option>Walmart</ion-select-option>
      <ion-select-option>Target</ion-select-option>
  </ion-select>
  
  
  </ion-item>

  <ion-item>
    <ion-label>Payment Mode</ion-label>
    <!-- Payment mode dropdown -->
    <ion-select interface="popover">
      <ion-select-option>Game play with virtual money</ion-select-option>
      <ion-select-option>Live. Use real dollars</ion-select-option>
    </ion-select>
  </ion-item>
</div>
  <!-- Navigation button  -->
  <ion-button expand="full" color="primary">Next</ion-button>
  
</ion-content>
