<ion-content>
  <div class="flex-center">
    <img src="assets/images/Logo, text only.png" height="50">
  </div>
  <div>
    <img style="padding-top: 45px; border-radius: 50%;" src="assets/images/Logo, HiRes, Square.png">
  </div>
  <div class="pos1">
    <img src="assets/images/text, shop.png" height="20">
    <img src="assets/images/text, spend.png" height="20">
    <img src="assets/images/text, save.png" height="20">
    <img src="assets/images/text, with EW.png" height="20">
  </div>
</ion-content>
<style>
  body {
    background-color: white;
  }
</style>