<ion-content>
  <ion-list style="padding-top: 80px; background-color: white;">
    <div class="flex-center2">
      <ion-card style="background-color: white;">
        <ion-button style="background-color: white;" shape="round" color="secondary" fill="clear" a href="/login">
          LOGIN<br />If you have an account</ion-button>
      </ion-card>
    </div>
    <ion-item style="padding-left: 85px;">
      <ion-card-header>
        <ion-card-title style="color: black; font-weight: bold;">Sign up for eWyzly</ion-card-title>
      </ion-card-header>
    </ion-item>
    <ion-item>
      <ion-icon style="height: 40px; width: 40px; padding-left: 40px; color: red;" name="mail"></ion-icon>
      <a style="padding-left: 20px; text-decoration: none; color:  black; font-weight: bold;" href="/email">Use your
        email</a>
    </ion-item>
    <ion-item>
      <ion-icon style="height: 40px; width: 40px; padding-left: 40px; color: lightblue;"
        name="logo-facebook"></ion-icon>
      <a style="padding-left: 20px; text-decoration: none; color:  black; font-weight: bold"
        href="https://www.facebook.com/">Continue with
        facebook</a>
    </ion-item>
    <ion-item>
      <ion-icon style="height: 40px; width: 40px; padding-left: 40px; color: lightgreen;" name="logo-google"></ion-icon>
      <a style="padding-left: 20px; text-decoration: none; color: black; font-weight: bold"
        href="https://www.google.com/gmail/about/">Continue with Google</a>
    </ion-item>
  </ion-list>
</ion-content>