<ion-content [fullscreen]="true">

  <div class="main-container">
    <ion-header>
      <ion-toolbar>
        <ion-title>Plan 2: Stop Ads</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
    
      <div class="title-section">
        <h2>STOP ADS</h2>
        <p>and get 2 reward points with every virtual dollar that you purchase</p>
      </div>
    

   
      <!-- Placeholder for chart -->
      <div class="chart-section">
        <!-- Your chart will be inserted here -->
      </div>
    
    </ion-content>
    

  </div>

</ion-content>
