<script src="https://code.ionicframework.com/ionicons/5.5.3/ionicons.js"></script>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item lines="none">
        <h6>Click on goals to edit or delete. Use</h6>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <h6>Virtual Account Balances</h6>
      </ion-item>
      <ion-item button id="click-trigger">
        <ion-icon style="padding-left: 30px" name="checkmark-circle"></ion-icon>
        <ion-label style="padding-left: 5px">Checking</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$3500</ion-label>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-input type="number" id="chksAmt" style="color: black; text-align: center;" value="">

              </ion-input>
            </ion-content>
          </ng-template>
        </ion-popover>

      </ion-item>
      <ion-item button>
        <ion-avatar style="margin-left: 30px">
          <ion-img src="https://api.iconify.design/ion/logo-usd.svg"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 15px">Savings</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$5,500</ion-label>
      </ion-item>
      <ion-item button>
        <ion-avatar style="margin-left: 30px">
          <ion-img src=" https://api.iconify.design/mdi/alphabet-i-circle.svg"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 15px">Investment</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$12,000</ion-label>
      </ion-item>
      <ion-item button>
        <ion-avatar style="margin-left: 30px">
          <ion-img src="https://api.iconify.design/el/hand-up.svg?flip=horizontal"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 15px">Reward Points</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$3,500</ion-label>
      </ion-item>
    </ion-list>

    <ion-list style="margin-top: 40px;">
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="auto" style="font-weight: bold;">Savings Goals</ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col style="font-weight: bold;">Savings To Date</ion-col>
            <ion-col style="font-weight: bold;">Savings Goal</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let goal of goals; let i = index">
        <ion-col size="auto" style="color: black;">{{ goal.list }}.</ion-col>
        <ion-avatar>
          <ion-img style="width: 40px; height: 40px"
            src="https://api.iconify.design/mdi/alphabet-i-circle.svg"></ion-img>
        </ion-avatar>
        <ion-col size="auto" style="color: black;">{{ goal.name }}</ion-col>
        <ion-col style="text-align: end; font-weight: bold; color: black; padding-left: 100px;">
          <span *ngIf="!goal.editing">${{ goal.amount }}</span>
          <ion-input type="number" [(ngModel)]="goal.amount" *ngIf="goal.editing"
            style="color: black; text-align: center;"></ion-input>
          <ion-button id="hover-trigger" (click)="toggleEdit(i)">
            {{ goal.editing ? 'Save' : 'Edit' }}
          </ion-button>
        </ion-col>
        <ion-col style="color: black; text-align: end; font-weight: bold;">${{ goal.goal }}</ion-col>
      </ion-item>


      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col size="auto">
              <div style="margin-left: 15px; font-weight: bold;">Total Savings Goal</div>
            </ion-col>
            <ion-col style="text-align: end; font-weight: bold;">
              <div>${{ calculateTotalSavingsAmount() }}</div>
            </ion-col>
            <ion-col>${{ calculateTotalSavingsGoal() }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>

    <ion-list style="margin-top: 40px;">
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="auto" style="font-weight: bold;">Investment Goals</ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col style="font-weight: bold;">Invest To Date</ion-col>
            <ion-col style="font-weight: bold;">Invest Goal</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item *ngFor="let investmentgoals of investmentgoals; let i = index">
        <ion-col size="auto" style="color: black;">{{investmentgoals.list}}.
        </ion-col>
        <ion-avatar>
          <ion-img style="width: 40px; height: 40px"
            src="https://api.iconify.design/mdi/alphabet-i-circle.svg"></ion-img>
        </ion-avatar>
        <ion-col size="auto" style="color: black;">{{ investmentgoals.name }}</ion-col>
        <ion-col style="text-align: end; font-weight: bold; color: black; padding-left: 100px;">
          <span *ngIf="!investmentgoals.editing">${{ investmentgoals.amount }}</span>
          <ion-input type="number" [(ngModel)]="investmentgoals.amount" *ngIf="investmentgoals.editing"
            style="color: black; text-align: center;"></ion-input>
          <ion-button id="hover-trigger" (click)="toggleEdit(i)">
            {{ investmentgoals.editing ? 'Save' : 'Edit' }}
          </ion-button>
        </ion-col>
        <ion-col style="color: black; text-align: end; font-weight: bold;">${{ investmentgoals.goal }}</ion-col>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col size="auto">
              <div style="margin-left: 15px; font-weight: bold;">Total Savings Goal</div>
            </ion-col>
            <ion-col style="text-align: end; font-weight: bold;">
              <div>$231,800</div>
            </ion-col>
            <ion-col>$685,000</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-item>
        <h6>Photo/Video Library</h6>
      </ion-item>

      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>


  </ion-content>
</div>