<script src="https://code.ionicframework.com/ionicons/5.5.3/ionicons.js"></script>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item lines="none">
        <h6>Click on goals to edit or delete. Use</h6>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <h6>Virtual Account Balances</h6>
      </ion-item>
      <ion-item>
        <ion-icon style="padding-left: 30px" name="checkmark-circle"></ion-icon>
        <ion-label style="padding-left: 5px">Checking</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$3500</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar style="margin-left: 30px">
          <ion-img src="https://api.iconify.design/ion/logo-usd.svg"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 15px">Savings</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$5,500</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar style="margin-left: 30px">
          <ion-img src=" https://api.iconify.design/mdi/alphabet-i-circle.svg"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 15px">Investment</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$12,000</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar style="margin-left: 30px">
          <ion-img src="https://api.iconify.design/el/hand-up.svg?flip=horizontal"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 15px">Reward Points</ion-label>
        <ion-label style="text-align: right; font-weight: bold">$3,500</ion-label>
      </ion-item>
    </ion-list>

    <ion-list style="margin-top: 40px;">
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="auto" style="font-weight: bold; color: black; text-align: end;">Savings
              Goals</ion-col>
            <ion-col style="font-weight: bold; color: black; text-align: end;">Savings To
              Date</ion-col>
            <ion-col style="font-weight: bold; color: black; text-align: end;">Savings
              Goal</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let goal of goals; let i = index" (click)="openEditPopup('savings', i)">
        <ion-col size="auto" style="color: black; width: 50px; text-align: end;">{{ goal.list }}.</ion-col>
        <ion-avatar>
          <ion-img style="width: 40px; height: 40px"
            src="https://api.iconify.design/mdi/alphabet-i-circle.svg"></ion-img>
        </ion-avatar>
        <ion-col style="color: black; width: 100px; text-align: start;">{{ goal.name }}</ion-col>
        <ion-col style="text-align: start; font-weight: bold; color: black;">
          <span *ngIf="!goal.editing">${{ goal.amount }}</span>
          <ion-input type="number" [(ngModel)]="goal.amount" *ngIf="goal.editing"
            style="color: black; text-align: end;"></ion-input>
        </ion-col>
        <ion-col style="color: black; text-align: end; font-weight: bold; width: 50px;">${{ goal.goal }}</ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <div style="font-weight: bold; color: black; text-align: start;">Total Savings Goal
              </div>
            </ion-col>
            <ion-col style="font-weight: bold; color: black; width: 50px; text-align: start;">
              <div>${{ calculateTotalSavingsAmount() }}</div>
            </ion-col>
            <ion-col style="font-weight: bold; color: black; width: 50px; text-align: end; margin-right: -5px;">${{
              calculateTotalSavingsGoal() }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>




    <ion-list style="margin-top: 40px;">
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="auto" style="font-weight: bold; color: black; width: 50px; text-align: end;">Investment
              Goals</ion-col>
            <ion-col style="font-weight: bold; color: black; width: 50px; text-align: end;">Invest To Date</ion-col>
            <ion-col style="font-weight: bold; color: black; width: 50px; text-align: end;">Invest Goal</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngFor="let investmentgoals of investmentgoals; let i = index"
        (click)="openEditPopupInvest('investment', i)">
        <ion-col size="auto" style="color: black; width: 50px; text-align: end;">{{ investmentgoals.list }}.</ion-col>
        <ion-avatar>
          <ion-img style="width: 40px; height: 40px"
            src="https://api.iconify.design/mdi/alphabet-i-circle.svg"></ion-img>
        </ion-avatar>
        <ion-col style="color: black; width: 100px; text-align: start;">{{ investmentgoals.name }}</ion-col>
        <ion-col style="text-align: start; font-weight: bold; color: black; width: 120px;">
          <span *ngIf="!investmentgoals.editing">${{ investmentgoals.amount }}</span>
          <ion-input type="number" [(ngModel)]="investmentgoals.amount" *ngIf="investmentgoals.editing"
            style="color: black; text-align: end;"></ion-input>
        </ion-col>
        <ion-col style="color: black; text-align: end; font-weight: bold; width: 100px;">${{ investmentgoals.goal
          }}</ion-col>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>

            <ion-col size="auto">
              <div style="margin-left: 15px; font-weight: bold;">Total Invest Goal</div>
            </ion-col>
            <ion-col style="text-align: start; font-weight: bold;">
              <div>${{ calculateTotalinvestmentAmount() }}</div>
            </ion-col>
            <ion-col style="font-weight: bold; color: black; text-align: end;margin-right: -5px;">${{
              calculateTotalinvestmentGoal() }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <h6>Photo/Video Library</h6>
      </ion-item>
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
            <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ion-content>
</div>