<ion-header>
  <ion-toolbar style="background-color: white;">
    <!-- Image in the center of the header -->
    <ion-title>
      <img src="assets/images/LogoText.png" alt="Win" style="width: 170px; height: auto; vertical-align: middle;"/>
    </ion-title>

    <!-- Side Menu Button -->
    <ion-buttons slot="end">
      <ion-menu-button class="header-menu-button"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="main-container">
    <h2 class="custom-title-center">
      The Smart Way To Shop 
    </h2>

    <h2 class="custom-title-center">
      The Fun Way To Save 
    </h2>

    <div class="image-container">
      <img [src]="images[currentImageIndex].path" alt="{{ images[currentImageIndex].description }}" class="image">
    
      <p class="image-description">{{ images[currentImageIndex].description }}</p>
      <p class="image-paragraph">{{ images[currentImageIndex].paragraph }}</p>

      <div class="centered-buttons">
        <ion-button size="default" (click)="nextImage()">Next</ion-button>
      </div>
    </div>
  </div>
</ion-content>
